<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>datamanagesys</display-name>

  	<servlet> 
      <servlet-name>ztree</servlet-name> 
      <servlet-class>pku.edu.cn.Ztree.ZTreeServlet</servlet-class> 
   	</servlet>
   <servlet-mapping> 
      <servlet-name>ztree</servlet-name> 
      <url-pattern>/dky/ZTreeServlet.servlet</url-pattern> 
   </servlet-mapping> 
   <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.edu.cn.request.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet.servlet</url-pattern>
  </servlet-mapping>
</web-app>